 <div class="alert alert-block alert-info"><font size="5"><center><b><u>Projecte Data Science </u></b></center></font>   
 <div class="alert alert-block alert-info"><font size="5"><center><b><u>CryptoPunks</u></b></center></font>   



\begin{align*}Anton\:Sobrino\end{align*}

\begin{align*}Juliol\hspace{2mm}\hspace{2mm}2021\end{align*}</div>

In [1]:
#Importació llibreries bàsiques 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import random
import re

#Importació Llibrereis per webscrapping
from selenium import webdriver

#Importacion 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time

#SQL
import mysql.connector
from sqlalchemy import create_engine

#warnings
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)


driver = webdriver.Chrome(executable_path=r'C:\Users\Anton SL\bin_chrome\Chromedriver.exe')
#engine = create_engine('mysql+mysqlconnector://root:Zxcvbn123+-@' + 127001 +'/cryptopunks', echo=False)
time.sleep(random.uniform(2.0,2.0))

# profile report


K = 1000
M = 1000000

### <span style=color:darkred> CriptoPunks Transacciones</span>

##### Aquesta tbl per obtenir les transacion esta sense us. vna obtindre les dades dels companys. funcionava pero calia millorar els temps de espera.

url1 = 'https://www.larvalabs.com/cryptopunks/details/00001'
driver.get(url1)

col = len(driver.find_elements_by_xpath('//*[@id="punkHistory"]/div/table/tbody/tr[1]/th'))
rows = len(driver.find_elements_by_xpath('//*[@id="punkHistory"]/div/table/tbody/tr'))


print('col:', str(col), 'i rows:', str(rows) )

col_nom = ['Num_CP']

for n in range(1,col + 1):
    if n   < col + 1:
        n == n -1
        col_nom.append(driver.find_element_by_xpath('//*[@id="punkHistory"]/div/table/tbody/tr[1]/th[' + str(n) + ']').text)

col_nom



MyListaAnidada = []

for web in range(1,9999):
    url1 = 'https://www.larvalabs.com/cryptopunks/details/'+ str(web)
    driver.get(url1)
    #print(web)
    for n in range (2,rows + 1 ):
        mylista=[web]
        for b in range (1, col + 1 ):
            try:
                dato = driver.find_element_by_xpath('//*[@id="punkHistory"]/div/table/tbody/tr[' + str(n) + ']/td[' +str(b) +']').text
                mylista.append(dato)
                if len(mylista)== len(col_nom):
                    MyListaAnidada.append(mylista)
            except:
                pass

                            
df_Punk_History = pd.DataFrame(MyListaAnidada, columns = col_nom)
df_Punk_History.to_csv('Punk_History.csv')

# <span style=color:darkblue>A. Obtencio dades des de la web de Crypto Punks</span>

### <span style=color:darkred>1. tbl Master</span>

##### Aquesta tbl serveix per ordenar tota la base de dades

In [2]:
master_df = pd.DataFrame(range(0,10000), columns=['NumCriptoPunk'])
master_df.to_csv('master.csv')
master_df

      NumCriptoPunk
0                 0
1                 1
2                 2
3                 3
4                 4
...             ...
9995           9995
9996           9996
9997           9997
9998           9998
9999           9999

[10000 rows x 1 columns]

In [3]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NumCriptoPunk  10000 non-null  int64
dtypes: int64(1)
memory usage: 78.2 KB

### <span style=color:darkred>2. tbl Top Sales</span>

##### Aquesta tbl obtinguda www.larvalabs.com ens infrorma del ranking de mes venuts i podem ferla servir per fer comapracions. Es pot actualitzar diariament.

In [4]:
url1 = 'https://www.larvalabs.com/cryptopunks/topsales?sortByUSD=false'
driver.get(url1)

In [5]:
MyListaAnidada=[]

for n in range(1, 100):
    try:
        CPunks = driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/div['+ str(n)+ ']').text
        mylista = CPunks.split()
        MyListaAnidada.append(mylista[0:3])
    except:
        pass

df_topsales= pd.DataFrame(MyListaAnidada,columns =['Ranking','Num_CriptoPunk','Valor_ETH'])
df_topsales['Num_CriptoPunk'] = df_topsales['Num_CriptoPunk'].str.lstrip('#').astype('int64')
df_topsales['Valor_ETH']=df_topsales['Valor_ETH'].str.rstrip('Ξ') 
df_topsales['Valor_ETH']=df_topsales['Valor_ETH'].str.rstrip('K') 
df_topsales['Valor_ETH']=pd.to_numeric(df_topsales['Valor_ETH'])
df_topsales['Ranking']=pd.to_numeric(df_topsales['Ranking'])
df_topsales.to_csv('topsales.csv')
df_topsales.head(5)

   Ranking  Num_CriptoPunk  Valor_ETH
0        1            3100        4.2
1        2            7804        4.2
2        3            6965      800.0
3        4            2140      750.0
4        5            3011      667.0

In [6]:
df_topsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ranking         60 non-null     int64
 1   Num_CriptoPunk  60 non-null     int64
 2   Valor_ETH       60 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 1.5 KB

### <span style=color:darkred>3.tbl types of Crypto Punks</span>

##### tbl obtinguda de www.larvalabs.com amb la informació deks diferents types

In [7]:
url1 = 'https://www.larvalabs.com/cryptopunks/attributes'
driver.get(url1)

In [8]:
rows = len(driver.find_elements_by_xpath('/html/body/div[2]/div/div[3]/div/div[1]/table/tbody/tr'))
col = len(driver.find_elements_by_xpath('/html/body/div[2]/div/div[3]/div/div[1]/table/thead/tr[2]/th'))


print('col:', str(col), 'i rows:', str(rows) )

col: 6 i rows: 5

In [9]:
col_nom = []
for n in range(1,rows + 1):
    if n -1  < col :
        n == n-1
        col_nom.append(driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[1]/table/thead/tr[2]/th[' + str(n) + ']').text)

col_nom

['Attribute', '#', 'Avail', 'Avg Sale', 'Cheapest']

In [10]:
MyListaAnidada = []
for n in range (1,rows + 1 ):
    mylista=[]
    for b in range (1, col):
        dato= driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[1]/table/tbody/tr[' + str(n) + ']/td[' +str(b) +']').text
        mylista.append(dato)
        if len(mylista)== len(col_nom):
            MyListaAnidada.append(mylista)

df_types = pd.DataFrame(MyListaAnidada, columns = col_nom)
df_types.columns = ['Attribute', 'NumPunks', 'Avail', 'Avg_Sale_ETH', 'Cheapest_ETH']
#df_types['Avg_Sale_ETH'] = df_types['Avg_Sale_ETH'].str.extract(r'(0-9.\-)')
df_types['Avg_Sale_ETH']=df_types['Avg_Sale_ETH'].str.rstrip('Ξ') 
df_types['Avg_Sale_ETH']=df_types['Avg_Sale_ETH'].str.rstrip('K')
df_types['Cheapest_ETH']=df_types['Cheapest_ETH'].str.rstrip('Ξ') 
df_types['Cheapest_ETH']=df_types['Cheapest_ETH'].str.rstrip('K')
df_types['NumPunks']=pd.to_numeric(df_types['NumPunks'])
df_types['Avail']=pd.to_numeric(df_types['Avail'])
df_types['Avg_Sale_ETH']=pd.to_numeric(df_types['Avg_Sale_ETH']) 
df_types['Cheapest_ETH']=pd.to_numeric(df_types['Cheapest_ETH'])
df_types = df_types.fillna(0)
df_types.to_csv('types.csv')
df_types

  Attribute  NumPunks  Avail  Avg_Sale_ETH  Cheapest_ETH
0     Alien         9      0          0.00          0.00
1       Ape        24      4          0.00          1.60
2    Zombie        88     10        420.86        420.00
3    Female      3840    671         29.88         17.75
4      Male      6039    986         27.02         17.85

In [11]:
df_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Attribute     5 non-null      object
 1   NumPunks      5 non-null      int64
 2   Avail         5 non-null      int64
 3   Avg_Sale_ETH  5 non-null      float64
 4   Cheapest_ETH  5 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 328.0+ bytes

### <span style=color:darkred>4. tbl Skin</span>

##### tbl obtinguda de https://defypunk.com/punks/ amb la informació deks diferents types

In [12]:
url1 = 'https://defypunk.com/punks/'
driver.get(url1)

In [13]:
skin=(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div[2]/div[2]/button')).text

In [14]:
mylista = []
MyListaAnidada=[]
df_skin = pd.DataFrame(columns=['skin','NumP', 'Punks'])

for i in range(1,10):
    try:
        skin=(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div[2]/div['+ str(i) +']/button')).text
        mylista.append(skin.split())
    except:
        pass
                       
df_skin = pd.DataFrame(mylista,columns=['skin','NumP', 'Punks'])
df_skin = df_skin.drop(['Punks'],axis=1)
df_skin['NumP']=df_skin['NumP'].str.replace('(','')
df_skin['NumP']=df_skin['NumP'].str.replace(',','')
df_skin['NumP']=pd.to_numeric(df_skin['NumP'])
df_skin.to_csv('skin.csv')
df_skin

     skin  NumP
0   Alien     9
1     Ape    24
2  Zombie    88
3  Albino  1018
4    Dark  2824
5   Light  3006
6     Mid  3031

In [15]:
df_skin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   skin    7 non-null      object
 1   NumP    7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

### <span style=color:darkred>5. tbl Attibutes</span>

##### tbl obtinguda de https://www.larvalabs.com/cryptopunks/attributes' amb la informació deks diferents types

In [16]:
url1 = 'https://www.larvalabs.com/cryptopunks/attributes'
driver.get(url1)

In [17]:
rows = len(driver.find_elements_by_xpath('/html/body/div[2]/div/div[3]/div/div[2]/table/tbody/tr'))
col = len(driver.find_elements_by_xpath('/html/body/div[2]/div/div[3]/div/div[2]/table/thead/tr[2]/th'))


print('col:', str(col), 'i rows:', str(rows) )

col: 6 i rows: 87

In [18]:
col_nom = []
for n in range(1,col + 1):
    if n   < col :
        n == n -1
        col_nom.append(driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[2]/table/thead/tr[2]/th[' + str(n) + ']').text)

col_nom

['Attribute', '#', 'Avail', 'Avg Sale', 'Cheapest']

In [19]:
MyListaAnidada = []
for n in range (1,rows + 1 ):
    mylista=[]
    for b in range (1, col):
        dato= driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[2]/table/tbody/tr[' + str(n) + ']/td[' +str(b) +']').text
        mylista.append(dato)
        if len(mylista)== len(col_nom):
            MyListaAnidada.append(mylista)
            
df_Attibutes = pd.DataFrame(MyListaAnidada, columns = col_nom)
df_Attibutes.columns = ['Attribute', 'NumPunks', 'Avail', 'Avg_Sale_ETH', 'Cheapest_ETH']
df_Attibutes['Avg_Sale_ETH']=df_Attibutes['Avg_Sale_ETH'].str.rstrip('Ξ') 
df_Attibutes['Avg_Sale_ETH']=df_Attibutes['Avg_Sale_ETH'].str.rstrip('K')
df_Attibutes['Cheapest_ETH']=df_Attibutes['Cheapest_ETH'].str.rstrip('Ξ') 
df_Attibutes['Cheapest_ETH']=df_Attibutes['Cheapest_ETH'].str.rstrip('K')
df_Attibutes['Avg_Sale_ETH']=pd.to_numeric(df_Attibutes['Avg_Sale_ETH'])
df_Attibutes['Cheapest_ETH']=pd.to_numeric(df_Attibutes['Cheapest_ETH'])
df_Attibutes['NumPunks']=pd.to_numeric(df_Attibutes['NumPunks'])
df_Attibutes['Avail']=pd.to_numeric(df_Attibutes['Avail'])
df_Attibutes = df_Attibutes.fillna(0)
df_Attibutes

               Attribute  NumPunks  Avail  Avg_Sale_ETH  Cheapest_ETH
0                 Beanie        44     12        152.00        199.99
1                 Choker        48      7         67.33         75.00
2           Pilot Helmet        54     12        121.20        130.00
3                  Tiara        55     14         67.00         68.88
4            Orange Side        68     15         96.03         65.56
5             Buck Teeth        78     16         47.96         49.98
6        Welding Goggles        86     18         57.40         48.00
7               Pigtails        94      9         49.83         39.50
8          Pink With Hat        95     16         45.51         40.50
9                Top Hat       115     37         59.48         43.00
10                 Spots       124     24         34.21         23.90
11           Rosy Cheeks       128     29         29.03         21.00
12          Blonde Short       129     27         30.36         28.00
13       Wild White Hair       136     21         38.03         44.00
14            Cowboy Hat       142     27         50.67         37.00
15           Wild Blonde       144     18         54.43         48.99
16  Straight Hair Blonde       144     39         38.41         27.99
17             Big Beard       146     34         37.74         25.00
18            Red Mohawk       147     27         26.20         19.00
19           Half Shaved       147     28         37.54         22.50
20            Blonde Bob       147     28         31.43         23.00
21          Vampire Hair       147     33         42.86         23.99
22      Clown Hair Green       148     49         30.11         25.00
23    Straight Hair Dark       148     27         23.97         19.90
24         Straight Hair       151     37         20.65         17.75
25          Silver Chain       156     43         34.79         18.99
26             Dark Hair       157     31         25.99         23.99
27           Purple Hair       165     29         34.77         22.80
28            Gold Chain       169     36         49.24         37.90
29          Medical Mask       175     40         31.56         23.00
30            Tassle Hat       178     22         27.15         22.75
31                Fedora       186     32         27.73         23.45
32            Police Cap       203     33         23.61         19.99
33            Clown Nose       212     39         24.27         22.00
34                 Smile       238     49         42.60         22.75
35           Cap Forward       254     47         26.95         20.69
36                Hoodie       259     44         67.75         54.00
37      Front Beard Dark       260     40         22.06         18.99
38                 Frown       261     47         29.99         20.00
39     Purple Eye Shadow       262     40         25.74         18.80
40            Handlebars       263     31         22.13         19.00
41       Blue Eye Shadow       266     49         22.72         18.50
42      Green Eye Shadow       271     43         27.41         19.90
43                  Vape       272     42         28.10         18.97
44           Front Beard       273     38         22.91         19.99
45             Chinstrap       282     60         24.48         18.95
46            3D Glasses       286     63         58.56         36.00
47       Luxurious Beard       286     57         36.46         19.50
48              Mustache       288     43         23.98         18.88
49    Normal Beard Black       289     57         26.50         21.00
50          Normal Beard       292     35         37.12         21.99
51              Eye Mask       293     51         23.75         19.00
52                  Goat       295     60         23.74         18.49
53                Do-rag       300     52         20.52         18.88
54           Shaved Head       300     42         23.04         19.00
55           Muttonchops       303     57         22.53         19.00
56            Peak Spike       303     37         21.59         19.00
57                  Pipe       317     61         46.97         21.95
58                    VR       332     52         42.30         29.20
59                   Cap       351     58         26.83         21.00
60          Small Shades       378     58         30.23         19.75
61      Clown Eyes Green       382     57         25.82         18.88
62       Clown Eyes Blue       384     71         23.72         17.94
63              Headband       406     62         22.49         18.99
64            Crazy Hair       414     70         27.52         20.00
65           Knitted Cap       419     65         22.75         18.88
66           Mohawk Dark       429     78         23.39         18.50
67                Mohawk       441     58         20.65         17.85
68           Mohawk Thin       441     64         20.66         18.00
69           Frumpy Hair       442     49         22.05         18.00
70             Wild Hair       447     65         26.55         18.98
71            Messy Hair       460     70         23.75         19.70
72             Eye Patch       461     55         26.38         18.88
73          Stringy Hair       463     64         21.47         18.49
74               Bandana       481     82         22.94         17.94
75        Classic Shades       502     95         25.14         18.00
76          Shadow Beard       526     65         27.03         23.37
77        Regular Shades       527    104         29.67         18.49
78    Horned Rim Glasses       535     82         23.03         17.75
79            Big Shades       535    101         29.54         19.90
80          Nerd Glasses       572     88         27.24         21.00
81        Black Lipstick       617    123         26.19         17.75
82                  Mole       644    111         23.81         18.98
83       Purple Lipstick       655    111         30.53         19.00
84          Hot Lipstick       696    125         30.17         18.50
85             Cigarette       961    165         28.55         18.97
86               Earring      2459    431         29.03         17.85

In [20]:
df_Attibutes = df_Attibutes.append({'Attribute': 'no accesories', 'NumPunks' : 0, 'Avail' : 0 , 'Avg_Sale_ETH': 0 , 'Cheapest_ETH' : 0 }, ignore_index=True)

In [21]:
df_Attibutes

               Attribute  NumPunks  Avail  Avg_Sale_ETH  Cheapest_ETH
0                 Beanie        44     12        152.00        199.99
1                 Choker        48      7         67.33         75.00
2           Pilot Helmet        54     12        121.20        130.00
3                  Tiara        55     14         67.00         68.88
4            Orange Side        68     15         96.03         65.56
5             Buck Teeth        78     16         47.96         49.98
6        Welding Goggles        86     18         57.40         48.00
7               Pigtails        94      9         49.83         39.50
8          Pink With Hat        95     16         45.51         40.50
9                Top Hat       115     37         59.48         43.00
10                 Spots       124     24         34.21         23.90
11           Rosy Cheeks       128     29         29.03         21.00
12          Blonde Short       129     27         30.36         28.00
13       Wild White Hair       136     21         38.03         44.00
14            Cowboy Hat       142     27         50.67         37.00
15           Wild Blonde       144     18         54.43         48.99
16  Straight Hair Blonde       144     39         38.41         27.99
17             Big Beard       146     34         37.74         25.00
18            Red Mohawk       147     27         26.20         19.00
19           Half Shaved       147     28         37.54         22.50
20            Blonde Bob       147     28         31.43         23.00
21          Vampire Hair       147     33         42.86         23.99
22      Clown Hair Green       148     49         30.11         25.00
23    Straight Hair Dark       148     27         23.97         19.90
24         Straight Hair       151     37         20.65         17.75
25          Silver Chain       156     43         34.79         18.99
26             Dark Hair       157     31         25.99         23.99
27           Purple Hair       165     29         34.77         22.80
28            Gold Chain       169     36         49.24         37.90
29          Medical Mask       175     40         31.56         23.00
30            Tassle Hat       178     22         27.15         22.75
31                Fedora       186     32         27.73         23.45
32            Police Cap       203     33         23.61         19.99
33            Clown Nose       212     39         24.27         22.00
34                 Smile       238     49         42.60         22.75
35           Cap Forward       254     47         26.95         20.69
36                Hoodie       259     44         67.75         54.00
37      Front Beard Dark       260     40         22.06         18.99
38                 Frown       261     47         29.99         20.00
39     Purple Eye Shadow       262     40         25.74         18.80
40            Handlebars       263     31         22.13         19.00
41       Blue Eye Shadow       266     49         22.72         18.50
42      Green Eye Shadow       271     43         27.41         19.90
43                  Vape       272     42         28.10         18.97
44           Front Beard       273     38         22.91         19.99
45             Chinstrap       282     60         24.48         18.95
46            3D Glasses       286     63         58.56         36.00
47       Luxurious Beard       286     57         36.46         19.50
48              Mustache       288     43         23.98         18.88
49    Normal Beard Black       289     57         26.50         21.00
50          Normal Beard       292     35         37.12         21.99
51              Eye Mask       293     51         23.75         19.00
52                  Goat       295     60         23.74         18.49
53                Do-rag       300     52         20.52         18.88
54           Shaved Head       300     42         23.04         19.00
55           Muttonchops       303     57         22.53         19.00
56            Peak Spike       303     37         21.59         19.00
57                  Pipe       317     61         46.97         21.95
58                    VR       332     52         42.30         29.20
59                   Cap       351     58         26.83         21.00
60          Small Shades       378     58         30.23         19.75
61      Clown Eyes Green       382     57         25.82         18.88
62       Clown Eyes Blue       384     71         23.72         17.94
63              Headband       406     62         22.49         18.99
64            Crazy Hair       414     70         27.52         20.00
65           Knitted Cap       419     65         22.75         18.88
66           Mohawk Dark       429     78         23.39         18.50
67                Mohawk       441     58         20.65         17.85
68           Mohawk Thin       441     64         20.66         18.00
69           Frumpy Hair       442     49         22.05         18.00
70             Wild Hair       447     65         26.55         18.98
71            Messy Hair       460     70         23.75         19.70
72             Eye Patch       461     55         26.38         18.88
73          Stringy Hair       463     64         21.47         18.49
74               Bandana       481     82         22.94         17.94
75        Classic Shades       502     95         25.14         18.00
76          Shadow Beard       526     65         27.03         23.37
77        Regular Shades       527    104         29.67         18.49
78    Horned Rim Glasses       535     82         23.03         17.75
79            Big Shades       535    101         29.54         19.90
80          Nerd Glasses       572     88         27.24         21.00
81        Black Lipstick       617    123         26.19         17.75
82                  Mole       644    111         23.81         18.98
83       Purple Lipstick       655    111         30.53         19.00
84          Hot Lipstick       696    125         30.17         18.50
85             Cigarette       961    165         28.55         18.97
86               Earring      2459    431         29.03         17.85
87         no accesories         0      0          0.00          0.00

In [22]:
df_Attibutes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Attribute     88 non-null     object
 1   NumPunks      88 non-null     int64
 2   Avail         88 non-null     int64
 3   Avg_Sale_ETH  88 non-null     float64
 4   Cheapest_ETH  88 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 3.6+ KB

In [23]:
df_Attibutes.to_csv('Attibutes.csv')

### <span style=color:darkred>6. tbl accesories</span>

##### Tbl Aram

In [24]:
punks_df= pd.read_csv('Punks.csv')

In [25]:
punks_df.head(5)

   Unnamed: 0  id     type  count                                accesories
0           0   0   Female      3   Green Eye Shadow / Earring / Blonde Bob
1           1   1     Male      2                            Smile / Mohawk
2           2   2   Female      1                                 Wild Hair
3           3   3     Male      3           Wild Hair / Nerd Glasses / Pipe
4           4   4     Male      4   Big Shades / Wild Hair / Earring / Goat

In [26]:
punks_df= punks_df.drop(['Unnamed: 0'], axis=1)

In [27]:
punks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          10000 non-null  int64
 1   type        10000 non-null  object
 2   count       10000 non-null  int64
 3   accesories  10000 non-null  object
dtypes: int64(2), object(2)
memory usage: 312.6+ KB

In [28]:
df = pd.DataFrame(punks_df.accesories)

In [29]:
df1 = df['accesories'].str.split('/', expand=True).stack()

In [30]:
df1

0     0     Green Eye Shadow
      1              Earring
      2            Blonde Bob
1     0                Smile
      1                Mohawk
                  ...
9998  0      Wild White Hair
      1       Black Lipstick
      2      Clown Eyes Green
9999  0               Mohawk
      1          Nerd Glasses
Length: 27547, dtype: object

In [31]:
df1 = df1.reset_index(level=1,drop=True).rename('accesories1')

In [32]:
df1

0        Green Eye Shadow
0                 Earring
0               Blonde Bob
1                   Smile
1                   Mohawk
               ...
9998      Wild White Hair
9998       Black Lipstick
9998      Clown Eyes Green
9999               Mohawk
9999          Nerd Glasses
Name: accesories1, Length: 27547, dtype: object

In [33]:
punks_df=punks_df.drop('accesories', axis=1)

In [34]:
punks_df = punks_df.join(df1)

In [35]:
punks_df['count'] = 1

In [36]:
punks_df

        id     type  count         accesories1
0        0   Female      1   Green Eye Shadow
0        0   Female      1            Earring
0        0   Female      1          Blonde Bob
1        1     Male      1              Smile
1        1     Male      1              Mohawk
...    ...      ...    ...                 ...
9998  9998   Female      1    Wild White Hair
9998  9998   Female      1     Black Lipstick
9998  9998   Female      1    Clown Eyes Green
9999  9999   Female      1             Mohawk
9999  9999   Female      1        Nerd Glasses

[27547 rows x 4 columns]

In [37]:
punks_df = punks_df.reset_index(drop=True)

In [38]:
punks_df["type"] = punks_df["type"].str.extract(r'(\w+)')
punks_df["accesories1"] = punks_df["accesories1"].str.extract(r'(\w+\D+)')
punks_df["accesories2"] = punks_df["accesories1"].str.rstrip()

punks_df
#df_Attibutes['Attribute'] = df_Attibutes['Attribute'].str.lower()

         id    type  count        accesories1       accesories2
0         0  Female      1  Green Eye Shadow   Green Eye Shadow
1         0  Female      1           Earring            Earring
2         0  Female      1         Blonde Bob        Blonde Bob
3         1    Male      1             Smile              Smile
4         1    Male      1             Mohawk            Mohawk
...     ...     ...    ...                ...               ...
27542  9998  Female      1   Wild White Hair    Wild White Hair
27543  9998  Female      1    Black Lipstick     Black Lipstick
27544  9998  Female      1   Clown Eyes Green  Clown Eyes Green
27545  9999  Female      1            Mohawk             Mohawk
27546  9999  Female      1       Nerd Glasses      Nerd Glasses

[27547 rows x 5 columns]

In [39]:
punks_df['idaccesories']=''

In [40]:
for i in range(len(punks_df)):
    myacc =punks_df['accesories2'].iloc[i]
    for n in range(len(df_Attibutes)):
        if myacc == df_Attibutes.Attribute[n]:
            punks_df['idaccesories'][i] = n

In [42]:
punks_df.isnull().sum()

id              0
type            0
count           0
accesories1     8
accesories2     8
idaccesories    0
dtype: int64

In [43]:
punks_df['idaccesories'] = punks_df['idaccesories'].apply(lambda x : 87 if x == '' else x)

In [44]:
#no tenen atribust
punks_df = punks_df.drop('accesories1', axis=1)

In [45]:

punks_df.isnull().sum()

id              0
type            0
count           0
accesories2     8
idaccesories    0
dtype: int64

In [47]:
punks_df.to_csv('punks_accesories.csv')

### <span style=color:darkred>7. tbl historico</span>

##### Tbl Aram

In [48]:
hist_df = pd.read_csv('transaccions_hist_df.csv')
hist_df

        Unnamed: 0  cryptopunk_number       txn_type      from        to    txn_date  amount_dolars  amount_eth  dolar_factors  eth_factors
0                1                  0  Bid Withdrawn  0x983ace       NaN  2021-05-10           1.03      250.00      1000000.0          NaN
1                2                  0            Bid  0x983ace       NaN  2021-04-11      537615.00      250.00            NaN          NaN
2                3                  0  Bid Withdrawn  0xd7510a       NaN  2021-03-03      160973.00      100.00            NaN          NaN
3                4                  0            Bid  0xd7510a       NaN  2021-02-20      188897.00      100.00            NaN          NaN
4                5                  0  Bid Withdrawn  natealex       NaN  2020-09-16       25532.00      692.00            NaN          NaN
...            ...                ...            ...       ...       ...         ...            ...         ...            ...          ...
123269      133269               9999            Bid  0xa0a59c       NaN  2017-07-03          69.00        0.25            NaN          NaN
123270      133270               9999            Bid  0x717403       NaN  2017-06-26          51.00        0.20            NaN          NaN
123271      133271               9999            Bid  ddaavvee       NaN  2017-06-23          65.00        0.20            NaN          NaN
123272      133272               9999            Bid  0x5b098b       NaN  2017-06-23          50.00        0.15            NaN          NaN
123273      133273               9999        Claimed       NaN  0x7e2d1c  2017-06-23            NaN         NaN            NaN          NaN

[123274 rows x 10 columns]

In [49]:
hist_df.isnull().sum().sum()

453248

In [50]:
hist_df.to = hist_df.to.fillna('')

In [51]:
hist_df['from'] = hist_df['from'].fillna('')

In [52]:
hist_df [['amount_dolars','amount_eth','dolar_factors','eth_factors']] = hist_df[['amount_dolars','amount_eth','dolar_factors','eth_factors']].fillna(0)

In [53]:
hist_df.isnull().sum().sum()

0

In [54]:
hist['txn_date'] =to_datetime(hist['txn_date'])

In [55]:
hist_df= hist_df.drop('Unnamed: 0',axis=1)

In [56]:
hist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123274 entries, 0 to 123273
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cryptopunk_number  123274 non-null  int64
 1   txn_type           123274 non-null  object
 2   from               123274 non-null  object
 3   to                 123274 non-null  object
 4   txn_date           123274 non-null  object
 5   amount_dolars      123274 non-null  float64
 6   amount_eth         123274 non-null  float64
 7   dolar_factors      123274 non-null  float64
 8   eth_factors        123274 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 8.5+ MB

In [57]:
hist_df.to_csv('hist_df.csv')

# <span style=color:darkblue>B. Creació BBDD MySql</span>

### <span style=color:darkred>Scripts MySQL </span>

https://es.stackoverflow.com/questions/190808/error-1822-al-crear-una-llave-for%C3%A1nea-en-mysql

DROP DATABASE IF EXISTS cryptopunks;

CREATE SCHEMA cryptopunks;

USE cryptopunks;

CREATE TABLE IF NOT EXISTS cryptopunks.master (
  idmaster INT NOT NULL AUTO_INCREMENT,
  ippunks INT NOT NULL,
  KEY idx_ippunks (ippunks),
  PRIMARY KEY (idmaster,ippunks));
  
 CREATE TABLE cryptopunks.topsales (
  idtopsales INT NOT NULL AUTO_INCREMENT,
  Ranking INT NOT NULL,
  Num_CriptoPunk INT NOT NULL,
  Valor_ETH FLOAT NOT NULL,
  PRIMARY KEY (idtopsales),
  FOREIGN KEY( Num_CriptoPunk) REFERENCES master(ippunks));
  
CREATE TABLE cryptopunks.types (
  idtypes INT NOT NULL AUTO_INCREMENT,
  Attribute VARCHAR(45) NOT NULL,
  NumPunks INT NOT NULL,
  Avail INT NOT NULL,
  Avg_Sale_ETH FLOAT NOT NULL,
  Cheapest_ETH FLOAT NULL,
  KEY idx_Attribute (Attribute),
  PRIMARY KEY (idtypes,NumPunks));
  
 CREATE TABLE cryptopunks.skin (
  idSkin INT NOT NULL AUTO_INCREMENT,
  skin VARCHAR(45) NOT NULL,
  NumP INT NOT NULL,
  PRIMARY KEY (idSkin, skin));

CREATE TABLE cryptopunks.attibutes (
  idattibutes INT NOT NULL AUTO_INCREMENT,
  Attibutes VARCHAR(45) NOT NULL,
  NumPunks INT NOT NULL,
  Avail INT NOT NULL,
  Avg_Sale_ETH FLOAT NOT NULL,
  Cheapest_ETH FLOAT NOT NULL,
  PRIMARY KEY (idattibutes,Attibutes));

 CREATE TABLE cryptopunks.punks_accesories (
  idacc INT NOT NULL AUTO_INCREMENT,
  idpunks INT NOT NULL,
  TypeCripto VARCHAR(45) NOT NULL,
  counter INT NOT NULL,
  accesories VARCHAR(45) NOT NULL,
  idaccesories INT NOT NULL,
  PRIMARY KEY (idacc, idpunks),
  FOREIGN KEY(TypeCripto) REFERENCES types(Attribute),
  FOREIGN KEY(idpunks) REFERENCES master(ippunks),
  FOREIGN KEY(idaccesories) REFERENCES attibutes(idattibutes));
  
  CREATE TABLE cryptopunks.Historico_trans (
  idhist INT NOT NULL AUTO_INCREMENT,
  cryptopunk_number INT NOT NULL,
  txn_type  VARCHAR(45) NOT NULl,
  DE VARCHAR(45) NOT NULL,
  Para VARCHAR(45) NOT NULL,
  txn_date timestamp NOT NULL,
  PRIMARY KEY (idhist, cryptopunk_number),
  FOREIGN KEY(cryptopunk_number) REFERENCES master(ippunks));
  
 COMMIT;

### <span style=color:darkred>Scripts MySQL </span>

In [38]:
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="Zxcvbn123+-",
  database='cryptopunks'
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002171FF5D370>

In [39]:
mycursor = mydb.cursor()

In [40]:
#df_topsales.to_sql(name='topsales', con=mydb, if_exists = 'append', index=False)